*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 2rem;
    color: rgb(139, 240, 139);
    text-align: center;
}
body{
    background-color: rgb(55, 83, 55);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorFormulario{
display: flex;
flex-direction: column;
justify-content: center;
padding: 2rem;
}

.contenedorFormulario img{
    width: 5rem;
    height: 3rem;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 5rem;
    height: 3rem;
}